/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #7C3AED;
  --color-primary-light: #A78BFA;
  --color-primary-dark: #5B21B6;
}